html, body {
	background: $clr-main-bg;
	font: 500 #{$hfs}px'Geometria', 'Open Sans', sans-serif; 
}

h1, h2, h3 {
	margin: 0;
}

a {
	color: inherit;
}

.main-wrapper {
	max-width: 1140rem / $hfs;
	margin: 0 auto;
}

main {
	overflow: hidden;
	position: relative;
	margin: 0 0 0 286rem / $hfs;
	padding: 0 33rem / $hfs;
	border-bottom: 1px solid $clr-white;

	background: $clr-white;

	h2 {
		&:first-child {
			padding: 76rem / $hfs 0 16rem / $hfs;
			font-size: 40em / $hfs;
			font-weight: 400;

			line-height: 48em / 40;			
			letter-spacing: -1px;
		}
	}

	.desc {
		margin: 0 0 70rem / $hfs;
		padding: 0 32rem / $hfs 0 0;

		font-size: 18em / $hfs;
		line-height: (28em / 18);
		font-weight: 400;
	}

	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 44rem / $hfs 0 0 44rem / $hfs;
		border-color: transparent transparent transparent $clr-gray;
	}

	&:after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 44rem / $hfs 44rem / $hfs 0;
		border-color: transparent $clr-main-bg transparent transparent;
	}

	&.catalog {
		padding-bottom: 63rem / $hfs;

		.desc {
			margin: 0 0 18rem / $hfs;
		}

	}
}

section {
	margin: 0 0 4.375rem;

	h3 {
		margin: 0 0 42rem / $hfs;
		font-size: 22em / $hfs;
		font-weight: 500;
		line-height: 28.8em / 22;
	}

}