.purchase-course-dl {

}
.purchase-course-dt {

}
.purchase-course-dd {
	margin: 0;
}

.individual {

	border: 1px solid #eee;
	border-bottom: none;

	.purchase-course-dt {
		border-bottom: 1px solid #eee;
	}
}
.individual .tech-table {
	outline: none;
}
.individual .purchase-listeners {
	width: 15%;
}

.container-fluid {
	.row {
		h2 {
			padding: 0;
		}
	}	
}