.purchase-course-dl {

}
.purchase-course-dt {

}
.purchase-course-dd {
	margin: 0;
}

.individual .tech-table tr {
    background: none repeat scroll 0 0 #fff;
    border-bottom: 2px solid #000;
}

.container-fluid {
	.row {
		h2 {
			padding: 0;
		}
	}	
}