<!doctype html>
<html class="no-js">
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Сертификат</title>
</head>
<body>
    <main>
        <div class="sert-doc-wrapper">
        	<table>
        		<tr>
        			<td>
        				У - 0199
        			</td>
        			<td>
        				<p>
        					<center>
        						Настоящее удостоверение выдано
        					</center>
        				</p>
        				<p>
        					<center>
	        					<b>Дулимову Сергею Владимировичу</b>
	        				</center>
        				</p>
        				<p>
        					<center>
	        					в том, что он(она) в период<br>
	        					с 24 ноября 2014 г. по 04 декабря 2014г.<br>
	        					прошел(а) повышение квалификации в<br>
	        					Автономной некоммерческой организации<br>
	        					дополнительного профессионального образования<br>
	        					«Центр качества строительства»<br>
	        					по дополнительной профессиональной программе<br>
	        					«<b>Качество строительства</b>»<br>
	        					в объеме 72 часов.
        					</center>
        				</p>
        			</td>        			
        		</tr>
        	</table>
        </div>
    </main>
</body>
</html>