.icon-bag-btn {
	display: inline-block;
	width: 34rem / $hfs;
	height: 34rem / $hfs;
	margin: 0 auto;
	background: url(../img/delete.png) no-repeat center center;

}

.delete-btn {
	background: none;
	border: none;
	text-decoration: underline;
	font-size: 14rem / $hfs;

	color: $clr-danger;

	&:hover {
		text-decoration: none;
	}
}

.btn {
	transition: all .4s ease;
	display: inline-block;
	padding: 0 16rem / $hfs;

	font-size: 14rem / $hfs;
	line-height: 39rem / $hfs;
	color: $clr-white;
	text-transform: uppercase;
	border-radius: 0 !important;

	outline: none;
	text-decoration: none;
	text-decoration: none;

	cursor: pointer;

	&:hover {
		color: inherit;
	}
	&:focus {
		color: inherit;		
	}

	&.btn--bordered {
		border: 2px solid;
	}
	&.btn--blue {
		color: $clr-main-bg;
		border-color: $clr-main-bg;
		background: $clr-white;

		&:hover {
			color: $clr-white;
			background: $clr-main-bg;
		}
	}
	&.btn--danger {
		color: $clr-danger;
		border-color: $clr-danger;
		background: $clr-white;

		&:hover {
			color: $clr-white;
			background: $clr-danger;
		}
	}
}

.icon--blue {
	transition: all .4s ease;
	color: $clr-main-bg;
	cursor: pointer;

	&:hover {
		opacity: .7;
	}
}
.icon--danger {
	transition: all .4s ease;
	color: $clr-danger;
	cursor: pointer;

	&:hover {
		opacity: .7;
	}
}

.js-delete-payment {
	transition: all .4s ease;
	color: $clr-main-bg;
	border: none;
	background: none;

	&:hover {
		opacity: .7
	}
}