.cabinet-tabs {
	
	ul {
		@extend .list-unstyled;
		border: 1px solid $clr-main-bg;
		border-bottom: none;
		border-right: none;
	}

	li {
		position: relative;
		float: left;
		width: 25%;
		height: 65rem / $hfs;
		border-bottom: 1px solid $clr-main-bg;
		border-right: 1px solid $clr-main-bg;

		line-height: 65rem / $hfs;

		a {
			@extend .full-abs;
			text-align: center;

			color: $clr-main-bg;

			&:hover {
				background: $clr-main-bg;
				color: $clr-white;
			}
		}
	}
}