.notifications {
	margin: 0;

	.notifications-nav {
		width: 100%;
		height: 60rem / $hfs;
		padding: 0 33rem / $hfs;

		line-height: 60rem / $hfs;
		color: $clr-white;

		background: $clr-main-bg;

		.icon {
			transition: all .4s ease;
			margin: 0;
			cursor: pointer;

			&:hover {
				opacity: .5;
			}
		}
		.notifications-count {
			margin: 0 .25rem;
		}
		.all-notifications {
			margin: 0 0 0 1em;
		}
		.white-link {
			font-size: 0.9em;
			font-weight: 300;
			text-decoration: underline;

			cursor: pointer;
		}
		.js-close-notifications {
			&:hover {
				text-decoration: none;
			}
		}
	}

	.notifications-ul {
		@extend .list-unstyled;

		font-family: 'Open Sans', sans-serif;
	}

	.notifications-li {
		display: none;
		padding: 20rem / $hfs 33rem / $hfs 35rem / $hfs 33rem / $hfs;
		border: 1px solid $clr-mid-gray;
		border-top: none;

		&.active {
			display: block;
		}

		.notif-type {
			margin: 0 0 16rem / $hfs;

			font-size: 1em;
			font-weight: 600;
			line-height: (22.4em / 16);
		}
		.notif-cont {
			margin: 0 0 28rem / $hfs;
			font-size: 0.9em;
			line-height: 1.6em;
		}
		.notif-date {
			text-align: right;
		}
		.notif-delete {
			transition: all .4s ease;
			float: right;
			margin: 80rem / $hfs 0 0;

			font-size: 14em / $hfs;
			line-height: (16.8em / 14);
			color: $clr-danger;

			cursor: pointer;

			&:hover {
				opacity: .5;
				border-color: transparent;
			}
		}

	}

}

//Notifications statuses
.notif {
	height: 46rem / $hfs;
	margin: 15rem / $hfs 0 0 17.875rem;
	padding: 0 0 0 30rem / $hfs;

	background: $clr-white;
	color: $clr-white;

	line-height: 46rem / $hfs;

	a {
		transition: all .4s ease;
		border-bottom: 1px solid;

		&:hover {
			border-color: transparent;
			text-decoration: none;
		}
	}

	&.notif--warning {
		background: $clr-num-3;
	}

	&.notif--danger {
		background: $clr-danger;
	}

}