.tech-table {
	width: 100%;
	outline: 1px solid #cbcbcb;
	font-family: 'Open Sans', sans-serif;

	&.notif-table {
		outline: none; 

		td {
			border-right: none;
		}
	}

	&.purchase-table {
		.icon-blue-bag-btn {
			position: absolute;
			top: 9rem / $hfs;
			left: 0;
		}

		th {
			text-align: center;
			padding: 0 10rem / $hfs;
			white-space: nowrap;

			&:first-child {
				padding: 0 0 0 34rem / $hfs;
				text-align: left;
			}
		}

		td {
			text-align: center;
			padding: 14rem / $hfs 10rem / $hfs;

			&:first-child {
				position: relative;
				padding: 14rem / $hfs .9rem 14rem / $hfs 34rem / $hfs;
				text-align: left;
			}
		}

		.purchase-price {
			white-space: nowrap;
		}
		
		.purchase-price-sum {
			font-size: 1em;
			font-weight: 600;
			white-space: nowrap;
		}

		.finished-course {
			td {
				opacity: .5;
			}
		}

		.self-status {
			font-style: italic;
			font-weight: bold;
		}

	}

	tr {
		position: relative;
		&:nth-child(2n+1) {
			background: $clr-light-gray;
		}
	}

	.sort {
		&.sort--asc {

			.sort--icon {
				cursor: pointer;

				&:before {
					content: '\e803';
					font-family: 'fontello';
					color: $clr-mid-gray;
				}
			}

		}
		&.sort--desc {

			.sort--icon {
				cursor: pointer;

				&:before {
					content: '\e802';
					font-family: 'fontello';
					color: $clr-mid-gray;
				}
			}

		}
	}

	th {
		height: 60rem / $hfs;
		padding: 0 1rem 0 34rem / $hfs;
		text-align: left;

		background: $clr-gray;
		border-right: 2px solid $clr-white;

		&:last-child {
			border-right: none;
		}

		&.listeners-row {
			width: 30%;
		}
	}

	td {
		font-size: 14em / $hfs;
		line-height: (20em / 14);
		padding: 14rem / $hfs 1rem 14rem / $hfs 34rem / $hfs;
		border-right: 2px solid $clr-white;

		&.td-status-bar {
			vertical-align: top;
		}

		&:last-child {
			border: none;
		}

		&.equal-padding {
			padding: 14rem / $hfs 1rem 14rem / $hfs 1rem;
		}
	}

	a {
		transition: all .4s ease;
		color: $clr-main-bg;

		&:hover {
			text-decoration: none;
		}
	}

	.no-courses {
		opacity: .4;
	}

}