.questions-ul {
	@extend .list-unstyled;

	.questions-li {

	}
}

.answers-ul {
	@extend .list-unstyled;
	margin: 1rem 0;

	.answers-li {
		margin: 0 0 1rem;
		
		p {
			display: inline;
			margin-left: 1rem;
		}
	}
}