.questions-ul {
	@extend .list-unstyled;

	.questions-li {

	}
}

.answers-ul {
	@extend .list-unstyled;
	margin: 1rem 0;

	.answers-li {
		margin: 0 0 1rem;

		label {
			font-weight: 400;
			
			input {
				float: left;
			}
		}
		
		p {
			display: block;
			margin-left: 2rem;
		}
	}
}