.benefits-ul {
	@extend .list-unstyled;

	.benefits-li {
		float: left;
		width: 23%;
		padding: 1rem 0 0;
		margin: 0 2% 0 0;
		border-top: 5px solid;

		font-size: 1em;
		line-height: (24em / 16);
		font-weight: 400;

		@media screen and ($laptop) {
			margin: 0 2% 8% 0;

			&:nth-child(n) {
				padding-right: 1rem;
			}
			&:nth-child(2n) {
				padding-left: 1rem;
			}
		}

		strong {
			font-weight: 500;
		}

		&.benefit-num-1 {
			border-color: $clr-num-1;
		}
		&.benefit-num-2 {
			border-color: $clr-num-2;			
		}
		&.benefit-num-3 {
			border-color: $clr-num-3;			
		}
		&.benefit-num-4 {
			border-color: $clr-num-4;			
		}
	}
}