.directions-ul {
	@extend .list-unstyled;

	.directions-li {
		transition: all .4s ease;
		position: relative;
		float: left;
		width: (100% / 3);
		height: 18rem;
		padding: 24rem / $hfs 33rem / $hfs 0 33rem / $hfs;
		color: $clr-white;

		@media screen and ($laptop) {
			width: 50%;
		}
		@media screen and ($mobileLand) {
			width: 100%;
		}

		&:hover {
			box-shadow: 0 0 10rem 20rem rgba(0, 0, 0, 0.1) inset;
		}

		img {
			position: absolute;
			bottom: 33rem / $hfs;
			right: 33rem / $hfs;
		}

		.direction-link {
			@extend .full-abs;
		}

		.directions-img {
			position: absolute;
			bottom: 33rem / $hfs;
			right: 33rem / $hfs;
			max-height: 4rem;
		}

		.courses-count {
		    bottom: 1.75rem;
		    left: 2.0625rem;
		    position: absolute;
		}

		&:nth-child(6n+1) {
			background-color: $clr-num-1;
		}
		&:nth-child(6n+2) {
			background-color: $clr-num-2;
		}
		&:nth-child(6n+3) {
			background-color: $clr-num-3;
		}
		&:nth-child(6n+4) {
			background-color: $clr-num-4;
		}
		&:nth-child(6n+5) {
			background-color: $clr-num-5;
		}
		&:nth-child(6n+6) {
			background-color: $clr-num-6;
		}
	}

	.direction-name {
		margin: 0 0 1.3rem;
		font-size: 22em / $hfs;
		line-height: 25.143em / 22;
		letter-spacing: 0.4em / $hfs;
	}
}