.accordion {
	border: 1px solid $clr-gray;

	.main-checkbox {
		display: none;
	}

	.accordion-header {
		transition: all .4s ease;
		position: relative;
		outline: none;
		background: $clr-gray;

		&:hover {
			box-shadow: 0 0 20rem 10rem rgba(0, 0, 0, 0.1) inset;
		}

		&.direction-in-progress {
			opacity: .3;

			&:hover {
				background: $clr-gray !important;
				color: inherit !important; 

				&:nth-child(4n+1) {
					background: #eee;
				}
			}
		}

		cursor: pointer;

		&.odd {
			background: $clr-white;
		}

		&:nth-child(4n+1) {
			background: #eee;
		}

		.accordion-img {
			position: absolute;
			top: 0;
			left: 0;
			width: 179rem / $hfs;
			height: 100%;

			background: no-repeat 33rem / $hfs center;
		}

		h3 {
			padding: 46rem / $hfs 0 8rem / $hfs;
			line-height: (18.86rem / 22);
			font-size: 22rem / $hfs;
			font-family: 'Open Sans', sans-serif;
			font-weight: 600;

			.print-link {
				opacity: 0;
				border: none;
				text-decoration: none;
				color: #fff;
				transition: opacity .25s ease;
			}

			@media screen and (max-width: 560px) {
				font-size: 1em;
				line-height: 1.2em;
				padding-top: 13rem / $hfs;
			}
		}

		&.ui-state-active {
			.print-link {
				opacity: 1;

				&:hover {
					opacity: .75;
				}
			}
		}

		.acc-courses {
			line-height: (26rem / 16);
			font-size: 1rem;
			font-family: 'Open Sans', sans-serif;
			font-weight: normal;
		}

		&.ui-accordion-header-active {
			color: $clr-white;
		}

		&:nth-child(6n+1) {				
			background-color: $clr-num-1 !important;
			color: $clr-white;
			
			&.ui-accordion-header-active {
				background-color: $clr-num-1 !important;
			}
		}
		&:nth-child(6n+3) {			
			background-color: $clr-num-2 !important;
			color: $clr-white;
			
			&.ui-accordion-header-active {
				background-color: $clr-num-2 !important;
			}
		}
		&:nth-child(6n+5) {			
			background-color: $clr-num-3 !important;
			color: $clr-white;
			
			&.ui-accordion-header-active {
				background-color: $clr-num-3 !important;
			}
		}
		&:nth-child(6n+7) {			
			background-color: $clr-num-4 !important;
			color: $clr-white;
			
			&.ui-accordion-header-active {
				background-color: $clr-num-4 !important;
			}
		}
		&:nth-child(6n+9) {			
			background-color: $clr-num-5 !important;
			color: $clr-white;
			
			&.ui-accordion-header-active {
				background-color: $clr-num-5 !important;
			}
		}
		&:nth-child(6n+11) {			
			background-color: $clr-num-6 !important;
			color: $clr-white;
			
			&.ui-accordion-header-active {
				background-color: $clr-num-6 !important;
			}
		}
	}

	.accordion-body {
		table {			
			font-family: 'Open Sans', sans-serif;
			background: #f9f9f9;

			@media screen and (max-width: 480px) {
				font-size: .7em;
			}	
		}

		tr {
			border-bottom: 1px solid $clr-gray;

			&:nth-child(2n+3) {
				background: #f4f4f4;
			}

			&:last-child {
				border: none;
			}
		}

		th {
			height: 60rem / $hfs;

			font-size: 14em / $hfs;
			font-weight: 600;
			color: #444444;
			text-align: center;

			&:first-child {				
				padding: 0 0 0 26em / $hfs;
				text-align: left;
			}
		}
		td {
			vertical-align: top;
			width: (100% - 66%) / 3;
			padding: 22rem / $hfs 0;

			font-size: 16em / $hfs;
			font-weight: normal;
			line-height: (22.4em / 16);
			text-align: center;	

			@media screen and (max-width: 560px) {
				font-size: .85em;
			}	

			&:first-child {
				width: 66%;
				padding-left: 26rem / $hfs;
				text-align: left;
			}

			.code {
				font-size: 14em / $hfs;
			}

			.price {
				font-size: 18em / $hfs;
				font-weight: 600;
			}
		}
	}

	.ui-accordion-header {
		transition: all .4s ease;
		height: 141rem / $hfs;
		padding: 0 0 0 179rem / $hfs;
	}

	.ui-state-default {
		&:after {
			transition: all .4s ease;
			content: '\e803';
			font-family: 'fontello';

			position: absolute;
			top: 50%;
			right: 26rem / $hfs;
			margin: -.5em 0 0;
			font-size: 3em;

			@media screen and ($mobileLand) {
				display: none;
			}
		}
	}

	.ui-state-active {
		&:after {
			content: '\e802';
			color: $clr-white;
		}
	}
}
//styles if form is active(user is in auth)

.accordion-form {

	.btn {
		display: none;
	}

	.checkbox-container {
		display: none;
	}

}

.authenticated {

	.btn {
		margin: 38rem / $hfs 0;
	}

	.checkbox-container {
		display: block;
	}

	.accordion {

		.accordion-body {

			th {
				position: relative;

				&:first-child {
					padding-left: 33rem / $hfs;
				}
			}

			td {
				position: relative;

				&:first-child {
					padding-left: 33rem / $hfs;
				}
			} 

			.checkbox-container {
				position: absolute;
				top: 20rem / $hfs;
				left: 8rem / $hfs;
			}

		}

	}

}