.employee-search,
.company-search,
.orders-search {

	position: relative;
	margin: 0 0 1rem;
	color: $clr-mid-gray;

	input {
		width: 100%;
		padding: .5rem 0 .5rem 26rem / $hfs;
		border: none;

		background: none;
		
		color: $clr-dark-gray;

		font: 300 (14em / $hfs) 'Open Sans', sans-serif;
		line-height: (18em / 14);

		&::placeholder {
			font: italic 300 1em 'Open Sans', sans-serif;
			line-height: (18em / 14);
		}
	}

	button {
		position: absolute;
		top: 0;
		left: 0;
		margin: 0.4rem 0 0 0.2rem;
		padding: 0;

		border: none;
		background: none;
		outline: none;
		color: $clr-mid-gray;

		.icon {
			font-size: .9em;
		}
	}

}

.employer-anket {
	font-weight: 400;
}