.divMessageBox {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100000;
}
.MessageBoxContainer {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    position: relative;
    top: 35%;
    width: 100%;
}
.MessageBoxMiddle {
    left: 20%;
    position: relative;
    width: 60%;
}
.MessageBoxMiddle .MsgTitle {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -1px;
}
.MessageBoxButtonSection {
    height: 30px;
    width: 100%;
}
.MessageBoxButtonSection button {
    float: right;
    font-size: 14px;
    font-weight: bold;
    margin-right: 7px;
    padding-left: 15px;
    padding-right: 15px;

    color: #000;
}

.ui-datepicker {
	width: 17em;
	padding: .2em .2em 0;
	display: none;
	border: 1px solid;
	border-top: none;
	box-shadow: 0 0 12px -7px;
	background: #fff;
}
.ui-datepicker .ui-datepicker-header {
	position: relative;
	padding: .2em 0;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	position: absolute;
	top: 2px;
	width: 1.8em;
	height: 1.8em;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
	top: 1px;
}
.ui-datepicker .ui-datepicker-prev {
	left: 2px;
}
.ui-datepicker .ui-datepicker-next {
	right: 2px;
}
.ui-datepicker .ui-datepicker-prev-hover {
	left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover {
	right: 1px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: 50%;
	margin-top: -8px;
}
.ui-datepicker .ui-datepicker-title {
	margin: 0 2.3em;
	line-height: 1.8em;
	text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
	font-size: 1em;
	margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
	width: 45%;
}
.ui-datepicker table {
	width: 100%;
	font-size: .9em;
	border-collapse: collapse;
	margin: 0 0 .4em;
}
.ui-datepicker th {
	padding: .7em .3em;
	text-align: center;
	font-weight: bold;
	border: 0;
}
.ui-datepicker td {
	border: 0;
	padding: 1px;
}
.ui-datepicker td span,
.ui-datepicker td a {
	display: block;
	padding: .2em;
	text-align: right;
	text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane {
	background-image: none;
	margin: .7em 0 0 0;
	padding: 0 .2em;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
	float: right;
	margin: .5em .2em .4em;
	cursor: pointer;
	padding: .2em .6em .3em .6em;
	width: auto;
	overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: left;
}

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
	width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
	float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
	width: 95%;
	margin: 0 auto .4em;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
	width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
	width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
	width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
	border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
	clear: left;
}
.ui-datepicker-row-break {
	clear: both;
	width: 100%;
	font-size: 0;
}

/* RTL support */
.ui-datepicker-rtl {
	direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev {
	right: 2px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next {
	left: 2px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
	right: 1px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
	left: 1px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
	clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
	float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
	float: right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
	border-right-width: 0;
	border-left-width: 1px;
}


.moderator-cabinet {

	.notifications {
		width: 939px - 191px;
		margin: 0 0 2.5rem;
	}

	[class^="col"] {
		width: 100%;
	}
	
	/* The MIT License */
	.dropzone,
	.dropzone *,
	.dropzone-previews,
	.dropzone-previews * {
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	}
	.dropzone {
	  width: 31.1rem;
	  position: relative;
	  border: 1px solid rgba(0, 0, 0, 0.08);
	  background: rgba(0, 0, 0, 0.02);
	  padding: 1em;
	}
	.dropzone.dz-clickable {
	  cursor: pointer;
	}
	.dropzone.dz-clickable .dz-message,
	.dropzone.dz-clickable .dz-message span {
	  cursor: pointer;
	}
	.dropzone.dz-clickable * {
	  cursor: default;
	}
	.dropzone .dz-message {
	  opacity: 1;
	  -ms-filter: none;
	  filter: none;
	}
	.dropzone.dz-drag-hover {
	  border-color: rgba(0, 0, 0, 0.15);
	  background: rgba(0, 0, 0, 0.04);
	}
	.dropzone.dz-started .dz-message {
	  display: none;
	}
	.dropzone .dz-preview,
	.dropzone-previews .dz-preview {
	  background: rgba(255, 255, 255, 0.8);
	  position: relative;
	  display: inline-block;
	  margin: 17px;
	  vertical-align: top;
	  border: 1px solid #acacac;
	  padding: 6px 6px 6px 6px;
	}
	.dropzone .dz-preview.dz-file-preview [data-dz-thumbnail],
	.dropzone-previews .dz-preview.dz-file-preview [data-dz-thumbnail] {
	  display: none;
	}
	.dropzone .dz-preview .dz-details,
	.dropzone-previews .dz-preview .dz-details {
	  width: 100px;
	  height: 100px;
	  position: relative;
	  background: #ebebeb;
	  padding: 5px;
	  margin-bottom: 22px;
	}
	.dropzone .dz-preview .dz-details .dz-filename,
	.dropzone-previews .dz-preview .dz-details .dz-filename {
	  overflow: hidden;
	  height: 100%;
	}
	.dropzone .dz-preview .dz-details img,
	.dropzone-previews .dz-preview .dz-details img {
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100px;
	  height: 100px;
	}
	.dropzone .dz-preview .dz-details .dz-size,
	.dropzone-previews .dz-preview .dz-details .dz-size {
	  position: absolute;
	  bottom: -28px;
	  left: 3px;
	  height: 28px;
	  line-height: 28px;
	}
	.dropzone .dz-preview.dz-error .dz-error-mark,
	.dropzone-previews .dz-preview.dz-error .dz-error-mark {
	  display: block;
	}
	.dropzone .dz-preview.dz-success .dz-success-mark,
	.dropzone-previews .dz-preview.dz-success .dz-success-mark {
	  display: block;
	}
	.dropzone .dz-preview:hover .dz-details img,
	.dropzone-previews .dz-preview:hover .dz-details img {
	  display: none;
	}
	.dropzone .dz-preview .dz-success-mark,
	.dropzone-previews .dz-preview .dz-success-mark,
	.dropzone .dz-preview .dz-error-mark,
	.dropzone-previews .dz-preview .dz-error-mark {
	  display: none;
	  position: absolute;
	  width: 40px;
	  height: 40px;
	  font-size: 30px;
	  text-align: center;
	  right: -10px;
	  top: -10px;
	}
	.dropzone .dz-preview .dz-success-mark,
	.dropzone-previews .dz-preview .dz-success-mark {
	  color: #8cc657;
	}
	.dropzone .dz-preview .dz-error-mark,
	.dropzone-previews .dz-preview .dz-error-mark {
	  color: #ee162d;
	}
	.dropzone .dz-preview .dz-progress,
	.dropzone-previews .dz-preview .dz-progress {
	  position: absolute;
	  top: 100px;
	  left: 6px;
	  right: 6px;
	  height: 6px;
	  background: #d7d7d7;
	  display: none;
	}
	.dropzone .dz-preview .dz-progress .dz-upload,
	.dropzone-previews .dz-preview .dz-progress .dz-upload {
	  position: absolute;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  width: 0%;
	  background-color: #8cc657;
	}
	.dropzone .dz-preview.dz-processing .dz-progress,
	.dropzone-previews .dz-preview.dz-processing .dz-progress {
	  display: block;
	}
	.dropzone .dz-preview .dz-error-message,
	.dropzone-previews .dz-preview .dz-error-message {
	  display: none;
	  position: absolute;
	  top: -5px;
	  left: -20px;
	  background: rgba(245, 245, 245, 0.8);
	  padding: 8px 10px;
	  color: #800;
	  min-width: 140px;
	  max-width: 500px;
	  z-index: 500;
	}
	.dropzone .dz-preview:hover.dz-error .dz-error-message,
	.dropzone-previews .dz-preview:hover.dz-error .dz-error-message {
	  display: block;
	}
	/* The MIT License */
	.dropzone,
	.dropzone *,
	.dropzone-previews,
	.dropzone-previews * {
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	}
	.dropzone {
	  position: relative;
	  border: 1px solid rgba(0, 0, 0, 0.08);
	  background: rgba(0, 0, 0, 0.02);
	  padding: 1em;
	}
	.dropzone.dz-clickable {
	  cursor: pointer;
	}
	.dropzone.dz-clickable .dz-message,
	.dropzone.dz-clickable .dz-message span {
	  cursor: pointer;
	}
	.dropzone.dz-clickable * {
	  cursor: default;
	}
	.dropzone .dz-message {
	  opacity: 1;
	  -ms-filter: none;
	  filter: none;
	}
	.dropzone.dz-drag-hover {
	  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0.25, rgba(0, 0, 0, 0.03)), color-stop(0.25, rgba(0, 0, 0, 0)), color-stop(0.5, rgba(0, 0, 0, 0)), color-stop(0.5, rgba(0, 0, 0, 0.03)), color-stop(0.75, rgba(0, 0, 0, 0.03)), color-stop(0.75, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
	  background-image: -webkit-linear-gradient(135deg, rgba(0, 0, 0, 0.03) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.03) 50%, rgba(0, 0, 0, 0.03) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
	  background-image: -moz-linear-gradient(135deg, rgba(0, 0, 0, 0.03) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.03) 50%, rgba(0, 0, 0, 0.03) 75%, transparent 75%, transparent);
	  background-image: -ms-linear-gradient(135deg, rgba(0, 0, 0, 0.03) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.03) 50%, rgba(0, 0, 0, 0.03) 75%, transparent 75%, transparent);
	  background-image: -o-linear-gradient(135deg, rgba(0, 0, 0, 0.03) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.03) 50%, rgba(0, 0, 0, 0.03) 75%, transparent 75%, transparent);
	  background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.03) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.03) 50%, rgba(0, 0, 0, 0.03) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
	  background-color: #fafafa;
	  background-size: 22px 22px;
	  border: 5px dashed #ccc;
	}
	.dropzone.dz-started .dz-message {
	  display: none;
	}
	.dropzone .dz-preview,
	.dropzone-previews .dz-preview {
	  background: rgba(255, 255, 255, 0.8);
	  position: relative;
	  display: inline-block;
	  margin: 10px;
	  vertical-align: top;
	  border: 1px solid #acacac;
	  padding: 6px 6px 6px 6px;
	}
	.dropzone .dz-preview.dz-file-preview [data-dz-thumbnail],
	.dropzone-previews .dz-preview.dz-file-preview [data-dz-thumbnail] {
	  display: none;
	}
	.dropzone .dz-preview .dz-details,
	.dropzone-previews .dz-preview .dz-details {
	  width: 100px;
	  height: 100px;
	  position: relative;
	  background: #ebebeb;
	  padding: 5px;
	  margin-bottom: 22px;
	}
	.dropzone .dz-preview .dz-details .dz-filename,
	.dropzone-previews .dz-preview .dz-details .dz-filename {
	  overflow: hidden;
	  height: 100%;
	}
	.dropzone .dz-preview .dz-details img,
	.dropzone-previews .dz-preview .dz-details img {
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100px;
	  height: 100px;
	}
	.dropzone .dz-preview .dz-details .dz-size,
	.dropzone-previews .dz-preview .dz-details .dz-size {
	  position: absolute;
	  bottom: -28px;
	  left: 3px;
	  height: 28px;
	  line-height: 28px;
	}
	.dropzone .dz-preview.dz-error .dz-error-mark,
	.dropzone-previews .dz-preview.dz-error .dz-error-mark {
	  display: block;
	}
	.dropzone .dz-preview.dz-success .dz-success-mark,
	.dropzone-previews .dz-preview.dz-success .dz-success-mark {
	  display: block;
	}
	.dropzone .dz-preview:hover .dz-details img,
	.dropzone-previews .dz-preview:hover .dz-details img {
	  display: none;
	}
	.dropzone .dz-preview .dz-success-mark,
	.dropzone-previews .dz-preview .dz-success-mark,
	.dropzone .dz-preview .dz-error-mark,
	.dropzone-previews .dz-preview .dz-error-mark {
	  display: none;
	  position: absolute;
	  width: 40px;
	  height: 40px;
	  font-size: 30px;
	  text-align: center;
	  right: -10px;
	  top: -10px;
	}
	.dropzone .dz-preview .dz-success-mark,
	.dropzone-previews .dz-preview .dz-success-mark {
	  color: #8cc657;
	}
	.dropzone .dz-preview .dz-error-mark,
	.dropzone-previews .dz-preview .dz-error-mark {
	  color: #ee162d;
	}
	.dropzone .dz-preview .dz-progress,
	.dropzone-previews .dz-preview .dz-progress {
	  position: absolute;
	  top: 100px;
	  left: 6px;
	  right: 6px;
	  height: 6px;
	  background: #d7d7d7;
	  display: none;
	}
	.dropzone .dz-preview .dz-progress .dz-upload,
	.dropzone-previews .dz-preview .dz-progress .dz-upload {
	  position: absolute;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  width: 0%;
	  background-color: #8cc657;
	}
	.dropzone .dz-preview.dz-processing .dz-progress,
	.dropzone-previews .dz-preview.dz-processing .dz-progress {
	  display: block;
	}
	.dropzone .dz-preview .dz-error-message,
	.dropzone-previews .dz-preview .dz-error-message {
	  display: none;
	  position: absolute;
	  top: -5px;
	  left: -20px;
	  background: rgba(245, 245, 245, 0.8);
	  padding: 8px 10px;
	  color: #800;
	  min-width: 140px;
	  max-width: 500px;
	  z-index: 500;
	}
	.dropzone .dz-preview:hover.dz-error .dz-error-message,
	.dropzone-previews .dz-preview:hover.dz-error .dz-error-message {
	  display: block;
	}
	.dropzone {
	  border: 1px solid rgba(0, 0, 0, 0.03);
	  min-height: 150px;
	  -webkit-border-radius: 3px;
	  border-radius: 3px;
	  background: rgba(0, 0, 0, 0.03);
	}
	.dropzone .dz-default.dz-message {
	  opacity: 1;
	  -ms-filter: none;
	  filter: none;
	  -webkit-transition: opacity 0.3s ease-in-out;
	  -moz-transition: opacity 0.3s ease-in-out;
	  -o-transition: opacity 0.3s ease-in-out;
	  -ms-transition: opacity 0.3s ease-in-out;
	  transition: opacity 0.3s ease-in-out;
	  background-image: url("../img/dropzone/spritemap.png");
	  background-repeat: no-repeat;
	  background-position: 0 0;
	  position: absolute;
	  width: 428px;
	  height: 123px;
	  margin-left: -214px;
	  margin-top: -61.5px;
	  top: 50%;
	  left: 50%;
	}
	.dropzone .dz-default.dz-message span {
	  display: none;
	}
	.dropzone.dz-square .dz-default.dz-message {
	  background-position: 0 -123px;
	  width: 268px;
	  margin-left: -134px;
	  height: 174px;
	  margin-top: -87px;
	}
	.dropzone.dz-drag-hover .dz-message {
	  opacity: 0.15;
	  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=15)";
	  filter: alpha(opacity=15);
	}
	.dropzone.dz-started .dz-message {
	  display: block;
	  opacity: 0;
	  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	  filter: alpha(opacity=0);
	}
	.dropzone .dz-preview,
	.dropzone-previews .dz-preview {
	  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.16);
	  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.16);
	  font-size: 14px;
	}
	.dropzone .dz-preview.dz-image-preview:hover .dz-details img,
	.dropzone-previews .dz-preview.dz-image-preview:hover .dz-details img {
	  display: block;
	  opacity: 0.1;
	  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
	  filter: alpha(opacity=10);
	}
	.dropzone .dz-preview.dz-success .dz-success-mark,
	.dropzone-previews .dz-preview.dz-success .dz-success-mark {
	  opacity: 1;
	  -ms-filter: none;
	  filter: none;
	}
	.dropzone .dz-preview.dz-error .dz-error-mark,
	.dropzone-previews .dz-preview.dz-error .dz-error-mark {
	  opacity: 1;
	  -ms-filter: none;
	  filter: none;
	}
	.dropzone .dz-preview.dz-error .dz-progress .dz-upload,
	.dropzone-previews .dz-preview.dz-error .dz-progress .dz-upload {
	  background: #ee1e2d;
	}
	.dropzone .dz-preview .dz-error-mark,
	.dropzone-previews .dz-preview .dz-error-mark,
	.dropzone .dz-preview .dz-success-mark,
	.dropzone-previews .dz-preview .dz-success-mark {
	  display: block;
	  opacity: 0;
	  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	  filter: alpha(opacity=0);
	  -webkit-transition: opacity 0.4s ease-in-out;
	  -moz-transition: opacity 0.4s ease-in-out;
	  -o-transition: opacity 0.4s ease-in-out;
	  -ms-transition: opacity 0.4s ease-in-out;
	  transition: opacity 0.4s ease-in-out;
	  background-image: url("../img/dropzone/spritemap.png");
	  background-repeat: no-repeat;
	}
	.dropzone .dz-preview .dz-error-mark span,
	.dropzone-previews .dz-preview .dz-error-mark span,
	.dropzone .dz-preview .dz-success-mark span,
	.dropzone-previews .dz-preview .dz-success-mark span {
	  display: none;
	}
	.dropzone .dz-preview .dz-error-mark,
	.dropzone-previews .dz-preview .dz-error-mark {
	  background-position: -268px -123px;
	}
	.dropzone .dz-preview .dz-success-mark,
	.dropzone-previews .dz-preview .dz-success-mark {
	  background-position: -268px -163px;
	}
	.dropzone .dz-preview .dz-progress .dz-upload,
	.dropzone-previews .dz-preview .dz-progress .dz-upload {
	  -webkit-animation: loading 0.4s linear infinite;
	  -moz-animation: loading 0.4s linear infinite;
	  -o-animation: loading 0.4s linear infinite;
	  -ms-animation: loading 0.4s linear infinite;
	  animation: loading 0.4s linear infinite;
	  -webkit-transition: width 0.3s ease-in-out;
	  -moz-transition: width 0.3s ease-in-out;
	  -o-transition: width 0.3s ease-in-out;
	  -ms-transition: width 0.3s ease-in-out;
	  transition: width 0.3s ease-in-out;
	  -webkit-border-radius: 2px;
	  border-radius: 2px;
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 0%;
	  height: 100%;
	  background-image: url("../img/dropzone/spritemap.png");
	  background-repeat: repeat-x;
	  background-position: 0px -400px;
	}
	.dropzone .dz-preview.dz-success .dz-progress,
	.dropzone-previews .dz-preview.dz-success .dz-progress {
	  display: block;
	  opacity: 0;
	  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	  filter: alpha(opacity=0);
	  -webkit-transition: opacity 0.4s ease-in-out;
	  -moz-transition: opacity 0.4s ease-in-out;
	  -o-transition: opacity 0.4s ease-in-out;
	  -ms-transition: opacity 0.4s ease-in-out;
	  transition: opacity 0.4s ease-in-out;
	}
	.dropzone .dz-preview .dz-error-message,
	.dropzone-previews .dz-preview .dz-error-message {
	  display: block;
	  opacity: 0;
	  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	  filter: alpha(opacity=0);
	  -webkit-transition: opacity 0.3s ease-in-out;
	  -moz-transition: opacity 0.3s ease-in-out;
	  -o-transition: opacity 0.3s ease-in-out;
	  -ms-transition: opacity 0.3s ease-in-out;
	  transition: opacity 0.3s ease-in-out;
	}
	.dropzone .dz-preview:hover.dz-error .dz-error-message,
	.dropzone-previews .dz-preview:hover.dz-error .dz-error-message {
	  opacity: 1;
	  -ms-filter: none;
	  filter: none;
	}
	.dropzone a.dz-remove,
	.dropzone-previews a.dz-remove {
	  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fafafa), color-stop(1, #eeeeee));
	  background-image: -webkit-linear-gradient(top, #fafafa 0, #eeeeee 100%);
	  background-image: -moz-linear-gradient(top, #fafafa 0, #eeeeee 100%);
	  background-image: -o-linear-gradient(top, #fafafa 0, #eeeeee 100%);
	  background-image: -ms-linear-gradient(top, #fafafa 0, #eeeeee 100%);
	  background-image: linear-gradient(top, #fafafa 0, #eeeeee 100%);
	  -webkit-border-radius: 2px;
	  border-radius: 2px;
	  border: 1px solid #eee;
	  text-decoration: none;
	  display: block;
	  padding: 4px 5px;
	  text-align: center;
	  color: #aaa;
	  margin-top: 26px;
	}
	.dropzone a.dz-remove:hover,
	.dropzone-previews a.dz-remove:hover {
	  color: #666;
	}

	.modal-dialog .modal-content {
		padding: 3.125rem 3.75rem 3rem;

		.btn {
			margin-left: 0;
		}
	}

	.cabinet-tabs + h2,
	h1 {
		font-family: "Open Sans",sans-serif;
	    font-size: 1.5em;
	    font-weight: 600;
	    line-height: .75em;
	    margin: 3rem 0 1.75rem;
	}

	section {
		margin-bottom: 1rem;
	}

	.label {
		display: inline-block;
		vertical-align: top;
		width: 7rem;
		margin-right: 1em;
		padding-left: 0;

		font-size: 14em / $hfs;
		line-height: (20em / 14);
		font-weight: 400;
		text-align: left;
		white-space: normal;

		color: $clr-dark-gray;

		& + .checkbox {
			margin: 0;
			display: inline-block;
		}

		& + .input.image {
			display: inline-block;
		}
	}

	.checkbox {
		margin-left: 189px;

		.checkbox {
			margin: 0;
		}
	}

	.input {

		&.text {
			display: inline-block;
		}

		&.textarea {
			display: inline-block;
		}

		&.textarea_redactor {
			display: inline-block;
		}

		.icon-append {
			display: none;
		}
	}

	.input.upload.input-file {
		display: inline-block;

		.file_upload {
			border: none;
			height: auto;
		}
	}
	
	.ui-selectmenu-button {
		width: 31.163rem !important;
	}
	
	.smart-form {
		.row {
			padding: 0 14px;
		}
		fieldset {
			padding-left: 0;
			padding-right: 0;
		}
		footer {
			padding-left: 0;
		}
	}
	.well {
		padding: 0;
		box-shadow: none;
		border: none;

		header {
			margin-bottom: 1.5rem;
		}
		fieldset {
			padding: 0;
		}
		.nav {
			display: none;
		}
		.redactor_box {
			
		}
	}

	.employee-search.input {
		margin: 0 0 0 15px;
	}

	#statistic-form {
		footer {
			margin-top: 32px;
		}
	}

	.note {
	    font-size: 12px;
	    font-weight: 400;
	    margin-left: 114px;
	    width: 25.563rem;
	    color: $clr-main-bg;
	}

	textarea {
		width: 31.163rem;
	}

	input {
		outline: none;
		transition: all .4s ease;
		width: 31.163rem;
		height: 43rem / $hfs;
		padding: 0 10rem / $hfs;
		border: 1px solid $clr-dark-gray;

		box-shadow: inset 0 0 0 0 $clr-white;

		font-family: 'Geometria';
		font-size: 14em / $hfs;
		font-weight: 500;
		color: $clr-dark-gray;

		&[type="checkbox"] {
			width: auto;
			height: auto;
		}

		&:focus {
			border-color: $clr-main-bg;
			box-shadow: inset 0 0 0 2px $clr-main-bg;
		}
	}

	

	.btn {
		margin: 0 10rem / $hfs;
		border: 2px solid;

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 10rem / $hfs;
		}

		&:hover {
			color: inherit;
		}
		&:focus {
			color: inherit;		
		}

		&.btn-default,
		&.btn-primary,
		&.btn-success {
			color: $clr-main-bg;
			border-color: $clr-main-bg;
			background: $clr-white;

			&:hover {
				color: $clr-white;
				background: $clr-main-bg;
			}
		}

		&.btn-danger {
			background: $clr-white;
			color: $clr-danger;
			border-color: $clr-danger;

			&:hover {
				color: $clr-white;
				background: $clr-danger;
			}
		}
	}

	.table {
		width: 100%;
		margin-bottom: 40px;
		outline: 1px solid $clr-mid-gray;
		font-family: 'Open Sans', sans-serif;

		.note {
			margin-left: 0;
		}

		ul {
			padding: 0;
			margin: 0;
			list-style: none;
		}

		tr {
			&:nth-child(2n+1) {
				background: $clr-light-gray;
			}
			&:nth-child(2n+2) {
				background: $clr-white;
			}
		}

		.sort {
			&.sort--asc {

				.sort--icon {
					cursor: pointer;

					&:before {
						content: '\e803';
						font-family: 'fontello';
						color: $clr-mid-gray;
					}
				}

			}
			&.sort--desc {

				.sort--icon {
					cursor: pointer;

					&:before {
						content: '\e802';
						font-family: 'fontello';
						color: $clr-mid-gray;
					}
				}

			}
		}

		th {
			height: 60rem / $hfs;
			padding: 0 17rem / $hfs;
			text-align: left;
			vertical-align: middle;
			white-space: nowrap;

			background: $clr-gray;
			border-right: 2px solid $clr-white;

			&:last-child {
				border-right: none;
			}
		}

		td {
			font-size: 14em / $hfs;
			line-height: (20em / 14);
			padding: .875rem .6rem;
			border-right: 2px solid $clr-white;
			border-top: none;
			border-bottom: none;

			&.td-status-bar {
				vertical-align: top;
			}

			&:last-child {
				border: none;
			}
		}

		a {
			transition: all .4s ease;
			color: $clr-main-bg;

			&:hover {
				text-decoration: none;
			}
		}

		.no-courses {
			opacity: .4;
		}

	}

	//Grid fixes 
	.col {
		.col {
			padding-left: 0;
		}
	}
	
}

.catalog-study-plan {
	
	table {
		margin-top: 40px;
		width: 100%;
		outline: 1px solid #cbcbcb;
		font-family: 'Open Sans', sans-serif;

		tr {
			position: relative;
			&:nth-child(2n+1) {
				background: $clr-light-gray;
			}
		}

		.sort {
			&.sort--asc {

				.sort--icon {
					cursor: pointer;

					&:before {
						content: '\e803';
						font-family: 'fontello';
						color: $clr-mid-gray;
					}
				}

			}
			&.sort--desc {

				.sort--icon {
					cursor: pointer;

					&:before {
						content: '\e802';
						font-family: 'fontello';
						color: $clr-mid-gray;
					}
				}

			}
		}

		th {
			height: 60rem / $hfs;
			padding: 0 1rem 0 34rem / $hfs;
			text-align: left;

			background: $clr-gray;
			border-right: 2px solid $clr-white;

			&:last-child {
				border-right: none;
			}

			&.listeners-row {
				width: 30%;
			}
		}

		td {
			font-size: 14em / $hfs;
			line-height: (20em / 14);
			padding: 14rem / $hfs 1rem 14rem / $hfs 1rem;
			border-right: 2px solid $clr-white;

			&.td-status-bar {
				vertical-align: top;
			}

			&:last-child {
				border: none;
			}

			&.equal-padding {
				padding: 14rem / $hfs 1rem 14rem / $hfs 1rem;
			}
		}

		a {
			transition: all .4s ease;
			color: $clr-main-bg;

			&:hover {
				text-decoration: none;
			}
		}

		.no-courses {
			opacity: .4;
		}
	}
}

/* remove aside for moders */
.moderator-wrapper {

	aside {
    	display: none;
    }

    main {
    	margin: 0;
    }

    .cabinet-menu-ul {
		.cabinet-menu-li {
			width: 187.7px;
		}
    }
}