.accordion {
	border: 1px solid $clr-gray;

	.accordion-header {
		position: relative;
		outline: none;
		background: $clr-gray;

		cursor: pointer;

		.accordion-img {
			position: absolute;
			top: 0;
			left: 0;
			width: 179rem / $hfs;
			height: 100%;

			background: no-repeat 33rem / $hfs center;
		}

		h3 {
			padding: 46rem / $hfs 0 8rem / $hfs;
			line-height: (18.86em / 22);
			font-size: 22em / $hfs;
			font-family: 'Open Sans', sans-serif;
			font-weight: 600;
		}

		.acc-courses {
			line-height: (26em / 16);
			font-size: 1em;
			font-family: 'Open Sans', sans-serif;
			font-weight: normal;
		}

		&.ui-accordion-header-active {
			color: $clr-white;
		}

		&:nth-child(6n+1) {
			&.ui-accordion-header-active {
				background-color: $clr-num-1;
			}
		}
		&:nth-child(6n+2) {
			&.ui-accordion-header-active {
				background-color: $clr-num-2;
			}
		}
		&:nth-child(6n+3) {
			&.ui-accordion-header-active {
				background-color: $clr-num-3;
			}
		}
		&:nth-child(6n+4) {
			&.ui-accordion-header-active {
				background-color: $clr-num-4;
			}
		}
		&:nth-child(6n+5) {
			&.ui-accordion-header-active {
				background-color: $clr-num-5;
			}
		}
		&:nth-child(6n+6) {
			&.ui-accordion-header-active {
				background-color: $clr-num-6;
			}
		}
	}

	.accordion-body {
		table {			
			font-family: 'Open Sans', sans-serif;
			background: #f9f9f9;
		}

		tr {
			border-bottom: 1px solid $clr-gray;

			&:nth-child(2n+3) {
				background: #f4f4f4;
			}

			&:last-child {
				border: none;
			}
		}

		th {
			height: 60rem / $hfs;

			font-size: 14em / $hfs;
			font-weight: 600;
			color: #444444;

			&:first-child {				
				padding: 0 0 0 26em / $hfs;
				text-align: left;
			}
		}
		td {
			vertical-align: top;
			width: (100% - 66%) / 3;
			padding: 22rem / $hfs 0;

			font-size: 16em / $hfs;
			font-weight: normal;
			line-height: (22.4em / 16);
			text-align: center;		

			&:first-child {
				width: 66%;
				padding-left: 26rem / $hfs;
				text-align: left;
			}

			.code {
				font-size: 14em / $hfs;
			}

			.price {
				font-size: 18em / $hfs;
				font-weight: 600;
			}
		}
	}

	.ui-accordion-header {
		transition: all .4s ease;
		height: 141rem / $hfs;
		padding: 0 0 0 179rem / $hfs;
		border-bottom: 1px solid $clr-gray;
	}

	.ui-state-default {
		&:after {
			transition: all .4s ease;
			content: '\e803';
			font-family: 'fontello';

			position: absolute;
			top: 50%;
			right: 26rem / $hfs;
			margin: -.5em 0 0;
			font-size: 3em;
		}
	}

	.ui-state-active {
		&:after {
			content: '\e802';
			color: $clr-white;
		}
	}
}