.btn {
	transition: all .4s ease;
	display: inline-block;
	padding: 0 16rem / $hfs;

	font-size: 14em / $hfs;
	line-height: 39rem / $hfs;
	color: $clr-white;
	text-transform: uppercase;

	outline: none;
	text-decoration: none;

	&.btn--bordered {
		border: 2px solid;
	}
	&.btn--blue {
		color: $clr-main-bg;
		border-color: $clr-main-bg;

		&:hover {
			color: $clr-white;
			background: $clr-main-bg;
		}
	}
}