$clr-white: #fff;
$clr-blue: #33ace4;
$clr-light-blue: #d9f0fa;

$clr-red: #bb252d;
$clr-green: #78a725;
$clr-yellow: #e4b51e;
$clr-purple: #5e52ac;
$clr-orange: #db7336;
$clr-aquamarine: #4bc8bb;

$clr-main-bg: $clr-blue;

// We have 6 types of page colors, so
// colors should be display in this order

$clr-num-1: $clr-red;
$clr-num-2: $clr-green;
$clr-num-3: $clr-yellow;
$clr-num-4: $clr-purple;
$clr-num-5: $clr-orange;
$clr-num-6: $clr-aquamarine;