.table {
	outline: 1px solid $clr-mid-gray;
	font-family: 'Open Sans', sans-serif;

	&.purchase-table {

		th {
			text-align: center;
			padding: 0 10rem / $hfs;

			&:first-child {
				padding: 0 0 0 34rem / $hfs;
				text-align: left;
			}
		}

		td {
			text-align: center;
			padding: 0 10rem / $hfs;

			&:first-child {
				padding: 14rem / $hfs 0 14rem / $hfs 34rem / $hfs;
				text-align: left;
			}
		}
		
		.purchase-price {
			font-size: 22em / $hfs;
			font-weight: 600;
		}

	}

	tr {
		&:nth-child(2n+1) {
			background: $clr-light-gray;
		}
	}

	.sort {
		&.sort--asc {

			.sort--icon {
				cursor: pointer;

				&:before {
					content: '\e803';
					font-family: 'fontello';
					color: $clr-mid-gray;
				}
			}

		}
		&.sort--desc {

			.sort--icon {
				cursor: pointer;

				&:before {
					content: '\e802';
					font-family: 'fontello';
					color: $clr-mid-gray;
				}
			}

		}
	}

	th {
		height: 60rem / $hfs;
		padding: 0 0 0 34rem / $hfs;
		text-align: left;

		background: $clr-gray;
		border-right: 2px solid $clr-white;

		&:last-child {
			border-right: none;
		}
	}

	td {
		font-size: 14em / $hfs;
		line-height: (20em / 14);
		padding: 14rem / $hfs 0 14rem / $hfs 34rem / $hfs;
		border-right: 2px solid $clr-white;

		&.td-status-bar {
			vertical-align: top;
		}

		&:last-child {
			border: none;
		}
	}

	a {
		transition: all .4s ease;
		color: $clr-main-bg;

		&:hover {
			text-decoration: none;
		}
	}

	.no-courses {
		opacity: .4;
	}

}