html, body {
	background: $clr-main-bg;
	font: 500 #{$hfs}px'Geometria', 'Open Sans', sans-serif; 
}

html {
	font-size: .875em;
}

h1, h2, h3 {
	margin: 0; 
}

a {
	color: inherit;

	&:hover {
		outline: none;
		color: inherit;
	}
	&:focus {
		outline: none;
		color: inherit;		
	}
}

.main-wrapper {
	position: relative;
	max-width: 1140rem / $hfs;
	margin: 0 auto;
}

main {
	position: relative;
	min-height: 41rem;
	margin: 0 0 0 286rem / $hfs;
	padding: 0 33rem / $hfs 33rem / $hfs;
	border-top: 1px solid transparent;
	border-bottom: 1px solid $clr-white;

	font-size: .875em;

	background: $clr-white;

	@media screen and ($laptop) {
		margin: 0;
	}

	h1, h2 {
		&.padding-h,
		&:first-child {
			padding: 3rem 0 16rem / $hfs;
			font-size: 40em / $hfs;
			font-weight: 400;

			line-height: 48em / 40;			
			letter-spacing: -1px;
		}
	}

	.desc {
		margin: 0 0 2.5rem;
		padding: 0 32rem / $hfs 0 0;

		font-size: 18em / $hfs;
		line-height: (28em / 18);
		font-weight: 400;
	}

	&:before {
		content: '';
		position: absolute;
		top: -1px;
		right: 0;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 44rem / $hfs 0 0 44rem / $hfs;
		border-color: transparent transparent transparent $clr-gray;
	}

	&:after {
		content: '';
		position: absolute;
		top: -2px;
		right: 0;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 44rem / $hfs 44rem / $hfs 0;
		border-color: transparent $clr-main-bg transparent transparent;
	}

	&.catalog {
		padding-bottom: 63rem / $hfs;

		.desc {
			margin: 0 0 18rem / $hfs;
		}

		.btn {
			&:first-child {
				margin-top: 76rem / $hfs;
			}
		}

	}
}

.container-fluid {
	overflow: hidden;
}

.row {
	&.no-gutter {
		[class^="col"] {
			&:first-child {
				padding-left: 0;
			}
			&:last-child {
				padding-right: 0;
			}
		}
	}
}

section {
	margin: 0 0 4.375rem;

	h3, .h3 {
		margin: 0 0 1.5rem;
		font-size: 22em / $hfs;
		font-weight: 500;
		line-height: 28.8em / 22;
	}

}