@media print {
    a[href]:after {
        content: "";
    }
    aside {
    	display: none;
    }
    .main-header {
    	.auth {
    		display: none;
    	}
        .contact {
            position: relative;
            padding: 0 0 0 2.75rem;
        }
    }
    .catalog .desc {
        display: none;
    }
    .banner {
        display: none;
    }
    main {
    	margin: 0;

        

    	&:before {
			content: none;
    	}
    	&:after {
			content: '';
            display: block;
            top: -4.5rem;
            right: 1rem;
            width: 7rem;
            height: 7rem;
            border: none !important;

            background-color: #fff !important;
            background-image: url(../img/logo-black.svg) !important;
            background-size: 7rem auto !important;
            background-repeat: no-repeat !important;
            background-position: right top !important; 		
    	}
    }

    .accordion .ui-state-default:after {
		content: none;
    }
    .accordion .ui-state-active:after {
		content: none;
    }
    .accordion .ui-accordion-header {
        padding: 0 0 0 1.2875rem;
    }
    .accordion-body {
    	display: block !important;
    }
    .print-link {
    	display: none;
    }

    .directions-ul {
		.directions-li {
			height: 8rem;
			
			.directions-img {
				display: none;
			}
		}
    }

    .notif {
        display: none;
    }

    .main-header.notificated {
        height: 5.75rem;
    }

    .popup {
        background: #fff !important;
    }
}