//Media queries widths
$maxWidth320: 'max-width: 320px';
$maxWidth480: 'max-width: 480px';
$maxWidth768: 'max-width: 768px';
$maxWidth1024: 'max-width: 1024px'; 

$hfs: 16;

* {
	box-sizing: border-box;
}

a {
	outline: none;
}

a[href^="tel"] {
	color: inherit;
	text-decoration: none;
}

.reset-link {
	border: none !important;
	
	&:hover {
		border: none !important;
	}
}

.list-unstyled {
	margin: 0;
	padding: 0;
	list-style: none;
}

.pull-right {
	float: right;
}

.pull-left {
	float: left;	
}

.full-abs {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.vertical-top {
	vertical-align: top !important;
}
.vertical-text-bot {
	vertical-align: text-bottom;
}

//font-styles
.text-center {
	text-align: center;
}

.style-light {
	font-weight: 300 !important;
}
.style-normal {
	font-weight: normal !important;
	font-style: normal !important;
}
.style-italic {
	font-style: italic !important;
}

.nowrap {
	white-space: nowrap;
}

//Margin classes

.margin-auto {
	margin-left: auto !important;
	margin-right: auto !important;
}
.margin-top-10 {
	margin-top: 10rem / $hfs !important;
}
.margin-bottom-10 {
	margin-bottom: 10rem / $hfs !important;	
}
.margin-top-20 {
	margin-top: 20rem / $hfs !important;	
}
.margin-bottom-20 {
	margin-bottom: 20rem / $hfs !important;	
}
.margin-top-30 {
	margin-top: 30rem / $hfs !important;	
}
.margin-bottom-30 {
	margin-bottom: 30rem / $hfs !important;	
}
.margin-top-40 {
	margin-top: 40rem / $hfs !important;	
}
.margin-bottom-40 {
	margin-bottom: 40rem / $hfs !important;	
}

.margin-right-5 {
	margin-right: 5rem / $hfs !important;	
}
.margin-left-5 {
	margin-left: 5rem / $hfs !important;	
}
.margin-right-10 {
	margin-right: 10rem / $hfs !important;	
}
.margin-left-10 {
	margin-left: 10rem / $hfs !important;	
}
.margin-right-20 {
	margin-right: 20rem / $hfs !important;	
}
.margin-left-20 {
	margin-left: 20rem / $hfs !important;	
}

.no-padding {
	padding: 0 !important;
}
.no-margin {
	margin: 0 !important;
}

.txt-color-blue {
	color: $clr-main-bg;
}

.font-sm {
	font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.5em;
}