.main-aside {
	position: absolute;
	top: 92rem / $hfs;
	left: 0;
	width: 286rem / $hfs;

	color: $clr-white;

	.logo-desc {
		margin: 0 0 2.95rem;

		font-size: 0.7875em;
		text-transform: uppercase;
		line-height: (23.57em / 11);
		letter-spacing: .5px;
		letter-spacing: .8px;
	}

	.nav-ul {
		@extend .list-unstyled;
	}

	.nav-li {
		margin: 0 0 1.325rem;
		font-size: 18em / $hfs;
		line-height: 38.57 / 18;

		&.active {
			a {
				border: none;
				color: $clr-black;
				cursor: default;
			}
		}

		a {
			transition: border-color .4s ease;
			border-bottom: 1px solid;
			border-color: rgba(255, 255, 255, .5);
			text-decoration: none;

			&:hover {
				border-color: transparent;
			}
		}
	}

	.main-search {
		position: relative;
		margin: 36rem / $hfs 0 134rem / $hfs 0;
		color: $clr-white;

		input {
			width: 170rem / $hfs;
			padding: .5rem 0 0 26rem / $hfs;
			border: none;
			border-bottom: 2px solid;

			background: none;
			
			color: $clr-white;
		}

		button {
			position: absolute;
			top: 0;
			left: 0;

			border: none;
			background: none;
			color: $clr-white;

			.icon {
				font-size: .9em;
			}
		}
	}

	.main-footer {
		font-weight: normal;
		font-size: 13em / $hfs;

		.copy {
			margin: 0 0 1.05rem; 			
			text-transform: uppercase;
		}
		.dev {
			a {
				transition: border-color .4s ease;
				border-bottom: 2px solid;
				text-decoration: none;

				&:hover {
					border-color: transparent;
				}
			}
		}
	}
}

.logo {
	position: relative;
	width: 214rem / $hfs;
	height: 123rem / $hfs;
	margin: 0 0 12rem / $hfs;
	border: 2px solid;

	line-height: 119rem / $hfs;

	font-weight: 400;
	font-size: 28em / $hfs;
	text-transform: uppercase;

	.logo-link,
	.logo-sign {
		@extend .full-abs;
		z-index: 1;
		text-decoration: none;
		padding: 0 0 0 20rem / $hfs;
	}

	.logo-sign {
		cursor: default;
	}

	&:before {
		content: '';
		box-sizing: border-box;
		position: absolute;
		top: -2px;
		right: -2px;
		z-index: 2;

		width: 69rem / $hfs;
		height: 32rem / $hfs;
		border-left: 2px solid;
		border-bottom: 2px solid;

		background: $clr-main-bg;		
	}

	&:after {
		content: '';
		box-sizing: border-box;
		position: absolute;
		bottom: -2px;
		right: -2px;
		z-index: 2;

		width: 69rem / $hfs;
		height: 32rem / $hfs;
		border-left: 2px solid;
		border-top: 2px solid;

		background: $clr-main-bg;	
	}
}