.top-dec {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	@media screen and ($desktop) {
		display: none;
	}
}

.moder-logo {
	display: none;
}

.top-dec-part {
	float: left;
	width: (100% / 6);
	height: 5rem / $hfs;

	&.part-1 {
		background: $clr-num-1;
	}
	&.part-2 {
		background: $clr-num-2;
	}
	&.part-3 {
		background: $clr-num-3;
	}
	&.part-4 {
		background: $clr-num-4;
	}
	&.part-5 {
		background: $clr-num-5;
	}
	&.part-6 {
		background: $clr-num-6;
	}
}

.mobile-menu {
	display: none;

	@media screen and ($laptop) {
		display: block;
	}

	.burger-cont {
		display: inline-block;
		margin: 28rem / $hfs 0 0 20rem / $hfs;
		height: 25rem / $hfs;

		cursor: pointer;
	}

	.burger {
		position: relative;
		display: inline-block;
		width: 30rem / $hfs;
		height: 6rem / $hfs;
		line-height: 30rem / $hfs;

		background: #fff;

		&:before {
			content: '';
			position: absolute;
			top: -10rem / $hfs;
			left: 0;

			width: 100%;
			height: 100%;

			background: #fff;
		}

		&:after {
			content: '';
			position: absolute;
			bottom: -10rem / $hfs;
			left: 0;

			width: 100%;
			height: 100%;

			background: #fff;
		}
	}

	.mobile-logo {
		float: right;
		margin: 0 20rem / $hfs 0 0;
		text-transform: uppercase;
		line-height: 92rem / $hfs;
		font-size: 1.5em;
	}
}

.main-header {
	height: 92rem / $hfs;

	color: $clr-white;

	@media screen and ($maxWidth1024) {
		padding: 0 10rem / $hfs;
	}

	&.notificated {
		height: 153rem / $hfs;
	}

	.contact {
		position: fixed;
		float: left;
		margin: 17rem / $hfs 0 0 0;

		.phone {
			font-size: 1.2em;
			line-height: 1.9em;
			font-weight: 400;

			&.phone-stack {
				a {
					display: none;

					&.active {
						display: inline-block;
						vertical-align: top;
					}
				}
			}
		}
		.phone-desc {
			font-size: 12em / $hfs;
			line-height: (14.4em / 12);

			&.phone-links {
				a {
					margin-right: 5px;
					font-weight: 300;
					text-decoration: none;
					border-bottom: 1px dotted;

					&.active {
						border: none;
					}
				}
			}
		}

		@media screen and ($laptop) {
			display: none;
		}
	}

	.auth {
		float: right;
		margin: 24rem / $hfs 0 0;

		.btn {
			&:hover {
				opacity: .6;
			}
		}

		.login-link {
			font-size: 12px;
			text-transform: uppercase;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
		.or-span {
			margin: 0 8rem / $hfs;
			font-size: 14px;
			color: #7dcaee;
			color: rgba(255, 255, 255, .5);
			text-transform: uppercase;
		}
		@media screen and ($laptop) {
			display: none;
		}
	}

}